<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Environments</title>
</head>
<body>
<a th:href="@{'/dashboard/v1/envs'}" title="Вернуться на экран выбора среды"> На главный экран</a>
<h1>Environments</h1>

<form method="post" action="/dashboard/v1/envs">
    <input autocomplete="off" autofocus name="envFilter" type="text">
    <button type="submit">Найти</button>
</form>

<table>
    <tbody>
    <tr th:if="${envDescList.isEmpty()}">
        <td colspan="2"> No Microservices Available</td>
    </tr>

    <tr th:each="env : ${envDescList}">
                <td>
                    <form th:action="@{'/dashboard/v1/envs/'+ ${env}}" method="get">
                        <button th:id="into" type="submit">
                            <i>🚀</i>
                        </button>
                    </form>
                </td>
        <td><span th:text="${env}"></span></td>
    </tr>
    </tbody>
</table>

</body>
</html>